.navColor{
    background-color: transparent;
    transition: 0.3s;
}

.colorSection{
    
    background-color: transparent!important;
}
.diagonal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgb(29, 31, 35);    
    z-index: 0;
    transform: skewY(-2deg);
    transform-origin: top left;
    filter: drop-shadow(4px 1px 4px #2e2e2e);
  }
.intro
{
    z-index: 2!important;
    width: 5000px!important;
    
    text-align: center;
}
.image1{
    background-image: url(../images/rear-view-young-college-student.jpg);
    background-size:cover ;
    width: 15rem;
    height: 15rem;
    border-radius: 8rem;
    
}
.image2{
    background-image: url(../images/rear-view-young-college-student.jpg);
    background-size:cover ;
    width: 15rem;
    height: 15rem;
    border-radius: 8rem;
    
}
video{
    width: 22.5rem;
    border-radius: 1rem;
}
.badge{
    position: relative;
    
    right:20px;
    bottom: 10px;
}




/* CSS */
.bCalendly {
  background-color: #536DFE;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.bCalendly:hover,
.bCalendly:focus {
  opacity: .75;
}
.bCalendly2 {
    background-color: #383838;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    
    margin: 0;
    max-width: none;
    min-height: 20px;
    min-width: 5px;
    outline: none;
    overflow: hidden;
    padding: 6px 7px 6px;
    position: relative;
    bottom: 35px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .bCalendly2:hover,
  .bCalendly2:focus {
    opacity: .75;
  }
.logoJAJA{
    -webkit-text-size-adjust: 100%;
    --blue-black: #2c2f35;
    --affluent-blue: #09affc;
    --dark-grey: #686f7a;
    --steel-blue: #067aca;
    --darker-blue: #0999fc;
    --white: white;
    --neutral-400: #a3a3a3;
    --neutral-300: #d4d4d4;
    --black: black;
    --neutral-900: #171717;
    --smoke: #d5d7de;
    --slate-grey: #34373d;
    --dark-slate-grey: #33363c;
    --white-smoke: whitesmoke;
    --neutral-800: #262626;
    --neutral-700: #404040;
    --neutral-600: #525252;
    --neutral-500: #737373;
    --neutral-200: #e5e5e5;
    --neutral-100: whitesmoke;
    --neutral-50-2: #fafafa;
    --light-grey: #ababab;
    font-family: Red Hat Display, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    font-size: inherit;
    float: left;
    color: #333;
    text-decoration: none;
    flex: none;
    display: block;
    position: relative;
    overflow: hidden;
    padding-left: 0;
    transition: opacity .2s;
}
@media screen and (max-width : 1399px){

  video{
    width: 18.5rem;
    
  }
  .calendlyDiv{
    width: 482px!important;
  }
}
@media screen and (max-width : 1199px){

  video{
    width: 15rem;
    
    
  }
  .calendlyDiv{
    width: 397px!important;
  }
}
@media screen and (min-width : 991px){

    .displayNav{
      display: flex;
      justify-content: end;
    }
  

}
@media screen and (max-width : 991px){

  .facebookVideoDiv{
    width: 304px;
  }
  .respDivFacebook{
    display: flex;
    justify-content: center;
  }
  .calendlyDiv{
    width: 630px!important;
  }


}
@media screen and (max-width : 767px){

  
  .calendlyDiv{
    width: 454px!important;
  }

  video{
    width: 15.2rem;
    
  }

}
@media screen and (max-width : 560px){

  
  h1{
    font-size: 2.5rem!important;
  }
  .custom-block2{
    width: 55vw;
    min-height: 50vh!important;
  }
  .flexCalendly{
    display: flex;
    justify-content: center;
  }
  .calendlyDiv{
    width: 240px!important;
  }
  .service{
    width: 55vw;
  }
  .serviceResponsive{
    display: flex!important;
    justify-content: center!important;
  }

  

}
